main {
	margin-top: 10px;
	padding-inline: 120px;
	margin-bottom: 144px;
	background-color: var(--base-gray-200);
}

main section:nth-child(1) {
	margin-top: 72px;
}

main > .card-projects {
	display: flex;
}

main #projects {
	width: 100%;
}

main #projects figure .buttons-projects {
	display: flex;
	align-items: center;
	justify-content: end;
	padding-block: .3rem;
}

main #projects figure a {
	width: fit-content;
	text-decoration: none;
	display: flex;
	align-items: end;
	justify-content: end;
}

main #projects figure a button{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: none;
	border-radius: .7rem;
	padding: .5rem;
	gap: .5rem;
	width: 6rem;
	
}

main #projects figure a button:hover{
	transform: scale(1.02);
	transition: 100ms linear;
	outline: 2px solid white;
	outline-offset: 2px;
	fill: none;
}

main #projects figure a button img {
	width: 1.5rem;
	height: 1.5rem;
	filter: invert(1);
}

.disable {
	opacity: 0.5;
	text-decoration: line-through;
}


main #projects figure a button span {
	font: var(--text-sm);
}

@media (max-width: 600px) {
	main {
		padding-inline: 16px;
	}

	main #projects figure {
		width: 90%;
		padding: 1rem;
	}

	main #projects figure img{
		width: 100%;

	}
}
